/* OrderListe.module.css */
.styledBar{
    width: 1px;
    color: white;
    margin: 10px;
    background-color: white;
}
.orderListe {
    display:flex ;
    flex-direction: row;
    padding-left : 50px;
    width: 100%;
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
    border-radius: 0px 2.5vh ; 
    border-left: 0.5px solid white;
    border-bottom: 0.5px solid white;
    color : white ;
    position : relative;
   
}


.myLabel{

    width : 100%;
    border-radius: 20px;
    text-align: left;
    padding: 25px;
    position: relative;
    font-size: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 220, 220, 0.406);
    backdrop-filter: blur(15px);
    transition: transform 0.3s;
    color : black
    }
    .myLabel::placeholder {
      color: black; 
      opacity: 0.5; 
    }
    .myLabel:focus, .myLabel:hover {
      transform: scale(1.03);
      outline : none ;
    }

.link{
    text-decoration: none;
    color : white ;
}

.myLi {
    padding-top: 10px ;
    position: relative;
}

.myUl{
    list-style-type: none;
    margin : 0px ;
    padding-left: 40px  ;
}

.borderText {
    position: absolute;
    top: -20px; 
    left: 8px; 
    background-color: transparent; 
    padding: 5px; 
    font-size: 16px; 
    color: white; 
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: none; /* Exclut cet élément de l'effet de flexbox */
}


.myP{
    padding-left  : 0px;
    margin : 0px 
}

.hole1 {
    position: absolute;
    top: 0px; /* Décalez le trou vers le haut de la bordure principale */
    left: -3px;
    width: 5px; /* La largeur du trou, ajustez selon vos besoins */
    height: 10%; /* Épaisseur de la bordure */
    background-color: #242424; /* Couleur transparente */
}

.hole2 {
    position: absolute;
    top: 68px; /* Décalez le trou vers le haut de la bordure principale */
    left: 60%;
    width: 40%; /* La largeur du trou, ajustez selon vos besoins */
    height: 7px; /* Épaisseur de la bordure */
    background-color: #242424; /* Couleur transparente */
}

@media  (max-width:800px) {
    .myLi {
        margin :  20px 0px 0px 5px ;
        padding: 0px ;
    }
    
    .myUl{
        list-style-type: none;
        margin : 0px ;
    }
    
    .borderText {
     
        position: relative;
        top: -15px; 
        left: 15px; 
        background-color: transparent; 
        padding: 5px; 
        font-size: 12px; 
        color: white; 
    
    }

    .myLabel{
        font-size: 15px;
        width : 90%;
        left: 5%;
    }
}
