
.globalDiv{
  height: 100vh;
  width: 100vw;
  display : flex ;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;;

}

.mainSection{
  height: 100% ;
  display : flex;
  flex-direction: column;
  padding: 15px ;
  box-sizing: border-box;
  overflow-y: scroll;
}

.myLabel{

width : 100%;
border-radius: 20px;
text-align: left;
padding: 25px;
position: relative;
font-size: 20px;
box-sizing: border-box;
background-color: rgba(255, 220, 220, 0.406);
backdrop-filter: blur(15px);
transition: transform 0.3s;
color : black
}
.myLabel::placeholder {
  color: black; 
  opacity: 0.5; 
}
.myLabel:focus, .myLabel:hover {
  transform: scale(1.03);
  outline : none ;
}

.center{
  height: 100% ;
}
.infoPanel{
  border : solid ;
  width : 20rem;
  height: 100% ;
  border-radius : 24px ;
  display : flex ;
  flex-direction: column ;
  align-items: center;
  justify-content: center ;

}
.privacyBtn{
  border-radius: 10px ;
  position: absolute;
  width: 70px;
  border : none ;
  top : 96%;
  left : 80%;


}
.switch{
 display: flex;
 position: relative;
 bottom: 5px;
 left: 10%;
 width: 80%;
 height: 50px;
 background: #E3E9F9;
 backdrop-filter: 10px;;
 border-radius: 10px;
 box-shadow: 0px 2px 10px #E3E9F9;
 overflow: hidden;
}
.switch button{
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
 font-weight: 500;
 color: #000;
 text-decoration: none;
 width: 50%;
 height: 50px;
 border-radius: 10px;
 z-index: 10;
 margin: 0px;
}

.active{
  background-color: #62E2D5

}
@media  (max-width:800px) {
  .globalDiv{
    height: 100%;
    display : flex ;
    flex-direction: column;
  }

  .globalDiv2{
    height: 100%;
    display: flex;
    flex-direction: column ;
    gap : 1rem;
  }

  .infoPanel{
    border : solid ;
    width : 8rem;
    height: 100% ;
    border-radius : 24px ;
    display : flex ;
    flex-direction: column ;
    align-items: center;
    justify-content: center ;
    text-align: center;

  }

  .mainSection{
    height: 100% ;
    display : flex;
    flex-direction: column;
    padding: 15px ;
    overflow: scroll;
  }

  .myLabel{
    font-size: 12px;
  }

  .privacyBtn{
    border-radius: 10px ;
    position: fixed;
    width: 70px;
    border : none ;
    top : 80%;
    left : 80%;


  }
}
