.globalDiv{
  height: 100%;
  display : flex ;
  flex-direction: column;
}

.globalDiv2{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column ;
  gap : 1rem;
}

.mainSection{
  height: 100% ;
  display : flex;
  flex-direction: row-reverse;
  padding: 15px ;
  gap : 20px;
  justify-content: space-between;
}

.myLabel{
  border-radius: 20px ;
  border : 1px solid ;
  height: 60px ;
  width: 100%;
  color : white ;
  font-size: 20px;
}

.center{
  height: 100% ;
  overflow-y: scroll;
}
.infoPanel{
  border : solid ;
  width : 20rem;
  height: 100% ;
  border-radius : 24px ;
  display : flex ;
  flex-direction: column ;
  align-items: center;
  justify-content: center ;

}
.privacyBtn{
  border-radius: 10px ;
  position: absolute;
  width: 70px;
  border : none ;
  top : 96%;
  left : 80%;


}

@media  (max-width:800px) {
  .globalDiv{
    height: 100%;
    display : flex ;
    flex-direction: column;
  }

  .globalDiv2{
    height: 100%;
    display: flex;
    flex-direction: column ;
    gap : 1rem;
  }

  .infoPanel{
    border : solid ;
    width : 8rem;
    height: 100% ;
    border-radius : 24px ;
    display : flex ;
    flex-direction: column ;
    align-items: center;
    justify-content: center ;
    text-align: center;

  }

  .mainSection{
    height: 100% ;
    display : flex;
    flex-direction: row-reverse;
    padding: 15px ;
    gap : 20px;
    justify-content: space-between;
  }

  .myLabel{
    font-size: 12px;
  }

  .privacyBtn{
    border-radius: 10px ;
    position: absolute;
    width: 70px;
    border : none ;
    top : 90%;
    left : 70%;
  
  
  }
}
