.globalDiv{
    display: flex ;
    flex-direction: column;
    box-sizing: border-box;
    padding : 20px;
    height: 100vh ;
    width: 100vw ;   
}

.mainDiv{
    height: 100% ;
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;

}
.messageDiv{
    height: 100% ;
    width: 100%;     
    box-sizing: border-box;
    text-align: center;
    padding-right : 15px;
    

    
}
.messages{
    height: 85% ;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
.user{
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border : 1px solid white;
    border-radius: 30px;
    box-sizing: border-box;
    height : 400px;
    width: 300px;

}

.userButton{
    position: absolute;
    top : 90vh;
    left: 97vw;
    font-size : 10px;
    text-align: center;
}

.avatar{
    height: 50px;
    position: absolute;
    top :  120px;
}

@media  (max-width:800px) {
    .globalDiv{
        display: flex ;
        flex-direction: column;
        box-sizing: border-box;
        padding : 10px;
        height: 100vh ;
        width: 100vw ;   
    }
    
    .mainDiv{
        height: 100% ;
        width: 100%;
        display: flex ;
        justify-content: center;
        align-items: center;
    }
    .messageDiv{
        height: 80% ;
        width: 100%;     
        box-sizing: border-box;
        text-align: center;
        
    }
    .messages{
        height: 100% ;
        width: 100%;
        box-sizing: border-box;
        overflow-y: scroll;
    }
    .user{
        display : flex ;
        
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        text-align: center;
        border : 1px solid white;
        border-radius: 30px;
        padding: 20px;
        box-sizing: border-box;
        /*que sa taille correspond a la taille des elements */
        height :min-content;
        width: 200px;

        
    }

    .userButton{
        position: absolute;
        top : 90vh;
        left: 91vw;
        font-size : 10px;
        text-align: center;
    }
    
    .avatar{
        height: 50px;
        position: relative;
        top :  0px;
        /*
        height: 50px;
        position: absolute;
        top :  222px;
        */
    }
}