.Header{
  display : flex ;
  flex-direction: row ;
  align-items: center;
  justify-content: space-around ;
}

.Link{
  display : flex ;
  flex-direction: column ;
  align-items: center;
  justify-content: center ;
  /*suprime le surlignage de ligne*/
 
}

.dateIcon{
  width: 18px;
  height : 30px ;
}
.logoSorbonne{
  height:6vh 
}

.dateDiv{
  display : flex ;
  flex-direction: row ;
  align-items: center;
  justify-content: center ;
  gap: 1rem ;
}

a{
  text-decoration: none ;
}

@media  (max-width:800px) {
  .logoSorbonne{
    height: 4.5vh;
  }

  .Header{
    padding: 0  ;
  }
}
